@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .align-element {
        @apply mx-auto max-w-6xl px-8;
    }

    .carousel-item {
        display: none;
    }

    .carousel-item-active {
        display: block;
    }

    .carousel-image {
        width: 26rem;
        height: 26rem;
        object-fit: cover;
        border-radius: 0.5rem;

    }
}